.textbox-wrapper {
    width: 100%;
}

.textbox-content {
    will-change: max-height, opacity;
}

[data-button="top"],
[data-button="bottom"] {
    will-change: opacity;
    pointer-events: none;
}

[data-button="top"] button,
[data-button="bottom"] button {
    pointer-events: auto;
}